/* BookDetailPage.css */
.book-details2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.book-details2 h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 34px;
}

.book-details2 .book-cover {
  margin-top: 20px;
  text-align: center;
}

.back-button {
  background-color: #008080;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.book-details2 img {
  max-width: 250px;
  max-height: 300px;
}

.book-details2 .details-container {
  flex-grow: 1;
  text-align: justify;
}

.book-details2 .details-container p {
  margin: 10px 0;
  display: flex;
  align-items: baseline;
}

.book-details2 .details-container span {
  min-width: 120px; /* Adjust the minimum width as needed */
  margin-right: 10px; /* Adjust the right margin as needed */
}

.book-details2 .details-container a {
  color: #007bff;
  text-decoration: none;
}
