/* ProfilePage.css */
.profile-page-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 2px;
  text-align: center;
  color: #333;
  border: 0.5px solid #ccc; /* Add this line to set a black border */
}

.profile-header {
  font-size: 2em;
  margin-bottom: 20px;
  color: #000000;
}

.navigation-buttons {
  margin-top: 20px;
}

.nav-button {
  background-color: #008080;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #005757;
}
